<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th id="id">ID</th>
        <th id="firstName">First Name</th>
        <th id="lastName">Last Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">0</td>
        <td th:text="${author.firstName}">Rob</td>
        <td th:text="${author.lastName}">Gibson</td>
    </tr>
</table>

</body>
</html>